ion-content ion-toolbar {
  --background: translucent;
}
.card {
  height: 150px;
  padding: 0px;
}
.contCard {
  position: absolute;
  right: 0;
  margin: 0px;
  padding: 0px;
  width: 60%;
  height: 100%;
  top: 0;
}
.contCard .precio {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.productos {
  position: relative;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
