<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card button (click)="cardClick()">
    <ion-card-content class="ion-text-left">
      <img
        style="position: absolute;"
        width="120px"
        src="https://i0.pngocean.com/files/420/155/805/t-shirt-los-angeles-lakers-jersey-minnesota-vikings-golden-state-warriors-t-shirt.jpg"
        alt=""
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-right">Awesome T-SHirt</ion-card-title>
      <ion-card-subtitle class="ion-text-right"
        >Playera Azul Lobos UT</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      $150.00
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="cardClick()">
    <ion-card-content class="ion-text-left">
      <img
        style="position: absolute;"
        width="120px"
        src="https://i0.pngocean.com/files/420/155/805/t-shirt-los-angeles-lakers-jersey-minnesota-vikings-golden-state-warriors-t-shirt.jpg"
        alt=""
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-right">Awesome T-SHirt</ion-card-title>
      <ion-card-subtitle class="ion-text-right"
        >Playera Azul Lobos UT</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      $150.00
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="cardClick()">
    <ion-card-content class="ion-text-left">
      <img
        style="position: absolute;"
        width="120px"
        src="https://i0.pngocean.com/files/420/155/805/t-shirt-los-angeles-lakers-jersey-minnesota-vikings-golden-state-warriors-t-shirt.jpg"
        alt=""
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-right">Awesome T-SHirt</ion-card-title>
      <ion-card-subtitle class="ion-text-right"
        >Playera Azul Lobos UT</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      $150.00
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="cardClick()">
    <ion-card-content class="ion-text-left">
      <img
        style="position: absolute;"
        width="120px"
        src="https://i0.pngocean.com/files/420/155/805/t-shirt-los-angeles-lakers-jersey-minnesota-vikings-golden-state-warriors-t-shirt.jpg"
        alt=""
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-right">Awesome T-SHirt</ion-card-title>
      <ion-card-subtitle class="ion-text-right"
        >Playera Azul Lobos UT</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      $150.00
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="cardClick()">
    <ion-card-content class="ion-text-left">
      <img
        style="position: absolute;"
        width="120px"
        src="https://i0.pngocean.com/files/420/155/805/t-shirt-los-angeles-lakers-jersey-minnesota-vikings-golden-state-warriors-t-shirt.jpg"
        alt=""
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-right">Awesome T-SHirt</ion-card-title>
      <ion-card-subtitle class="ion-text-right"
        >Playera Azul Lobos UT</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      $150.00
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="cardClick()">
    <ion-card-content class="ion-text-left">
      <img
        style="position: absolute;"
        width="120px"
        src="https://i0.pngocean.com/files/420/155/805/t-shirt-los-angeles-lakers-jersey-minnesota-vikings-golden-state-warriors-t-shirt.jpg"
        alt=""
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-right">Awesome T-SHirt</ion-card-title>
      <ion-card-subtitle class="ion-text-right"
        >Playera Azul Lobos UT</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      $150.00
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="cardClick()">
    <ion-card-content class="ion-text-left">
      <img
        style="position: absolute;"
        width="120px"
        src="https://i0.pngocean.com/files/420/155/805/t-shirt-los-angeles-lakers-jersey-minnesota-vikings-golden-state-warriors-t-shirt.jpg"
        alt=""
      />
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-right">Awesome T-SHirt</ion-card-title>
      <ion-card-subtitle class="ion-text-right"
        >Playera Azul Lobos UT
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-right">
      $150.00
    </ion-card-content>
  </ion-card>
</ion-content>
